<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
            </li>
            <li>
                <a href="../about"><span class="glyphicon glyphicon-user"></span> About Us</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <span class="glyphicon glyphicon-info-sign"></span>
                        Getting Started Guides
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="https://devcenter.heroku.com/articles/getting-started-with-ruby">
                            Adventure I :
                        </a>
                    </li>
                    <li>
                        <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">
                            Adventure II :
                        </a>
                    </li>
                    <li>
                        <a href="https://devcenter.heroku.com/articles/getting-started-with-php">
                            Adventure III :
                        </a>
                    </li>
                    <li>
                        <a href="https://devcenter.heroku.com/articles/getting-started-with-python">
                            Adventure IV :
                        </a>
                    </li>
                    <li>
                        <a href="https://devcenter.heroku.com/articles/getting-started-with-java">
                            Adventure V :
                        </a><
                        /li>
                    <li>
                        <a href="https://devcenter.heroku.com/articles/getting-started-with-go">
                            Adventure VI :
                        </a>
                    </li>
                    <li>
                        <a href="https://devcenter.heroku.com/articles/getting-started-with-clojure">
                            Adventure VII :
                        </a>
                    </li>
                    <li>
                        <a href="https://devcenter.heroku.com/articles/getting-started-with-scala">
                            Adventure VII :
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="https://devcenter.heroku.com/articles/getting-started-with-heroku-and-connect-without-local-dev">
                            Adventure VIII :
                        </a>
                    </li>
                    <li>
                        <a href="https://devcenter.heroku.com/articles/getting-started-with-jruby">
                            Adventure IX :
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right">
                <a href="https://devcenter.heroku.com">
                    <span class="glyphicon glyphicon-book"></span>
                    Heroku Dev Center
                </a>
            </li>
        </ul>
    </div>
</nav>
