<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
    <div class="container">
        <a href="/">
            <img src="/black-rose-logo.png">
        </a>
        <h1>The Black Rose Society</h1>
        <div class="divider"></div>
        <h3>A Secret Society Dedicated to the Appreciation of Michelle Rothrock</h3>
        <div class="divider"></div>
        <div class="block-text">
            <p>Greetings and salutations, and welcome to The Black Rose Society. This invitation has been extended to
                you
                based on the hope that what you find within will please you, intrigue you, and leave you wanting more of
                that which the Society has to offer. Our specialties include the curation of bespoke adventures, the
                archiving of both stories and memories, and
                the mysterious delivery of both sustenance and gifts of rare value.</p>

            <p>The Black Rose Society has but one goal: to satisfy the curiosity, stimulate the desires, and tickle the
                fancy of our subject, our muse and inspiration, the renowned adventurer, philosopher, and occasional
                odalisque, Miss Michelle Rothrock.</p>
        </div>

        <p>Please select one of the following options: </p>
    </div>
    <div class="container">
        <a type="button" class="btn btn-lg btn-success"
           href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">This is romantic as fuck. Please
            continue.</a>
    </div>
    <div class="container top-20">
        <a type="button" class="btn btn-danger btn-md" href="https://github.com/heroku/node-js-getting-started">I'm not
            interested.</a>
    </div>
</div>
</body>
</html>
